/* Type CSS code here */

#my-header {
    display: block;
    justify-content: center;
    height: 40rem;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
} 

.search {
    width: 100%;
   
} 

#logo {
    color: cadetblue;
    font-family: 'ELEGANT', sans-serif;
    font-weight: bold;
    font-size: 25px;
    padding-top: .5rem;
    padding-bottom: 75px;
    padding-left: 1rem;
}

.rainbow {
    background: linear-gradient(to left,purple, blue, red, pink); 
    /* Not able make this red line go away. Need this line of code to make rainbow effect */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: 'ELEGANT', sans-serif;
    font-weight: bold;
    padding-top: 5rem;
    font-size: 50px;
}

@import url('http://fonts.cdnfonts.com/css/elegant-2');

h3 {
    color: white;
    font-size: 25px;
    text-align: center; 
    font-family: 'ELEGANT', sans-serif;
    animation: h3 4s infinite;
}

                
@keyframes h3 {
    0%{color: orange;}
    10%{color: purple;}
    20%{color: red;}
    30%{color: CadetBlue};
    40%{color: yellow;}
    50%{color: coral;}
    60%{color: green;}
    70%{color: cyan;}
    80%{color: DeepPink;}
    90%{color: DodgerBlue;}
    100%{color: orange;}
}
       
#input1 {
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: .25rem;
    padding-right: 1rem;
    padding-left: 1rem
}

#enter {
    display: block;
    margin: 0 auto;
   
}

#num_Images {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding-right: 1rem;
    padding-left: 1rem
}

h2 {
    text-align: center;
    color: whitesmoke;
    font-family: 'ELEGANT', sans-serif
}

.text-info {
    font-family: 'ELEGANT', sans-serif;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 4rem;
    color: white;
    letter-spacing: 0.05rem;
    display: auto
}

body {
    background-color: black;
}

#art-collection {
    margin: 2rem
}

.art-card {
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto; 
    background-color: rgb(236, 129, 129);
    width: 75%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.images-art {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: 100%
  }

.heart-button {
    margin-left: 1rem;
}

#api-link {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 25px;
}

.api-source {
    color: orange
}