#my-header {
    justify-content: center;
    height: 15rem;
    background-color: whitesmoke;
    
}

body {
    background-color: white;
}

.art-card {
    background-color: brown;

}

.images-art {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;


  }


